In [1]:
# Import dependencies 
import pandas as pd
import glob
import re

In [12]:
# Create a list of CSV file paths
csv_files = glob.glob("citibike-data/*.csv")

# Create an empty list to store dataframes
dfs = []

# Iterate over the list of CSV file paths to read and append into 'dfs'
for file in csv_files:
        df = pd.read_csv(file)
        dfs.append(df)

# Concatenate the list of dataframes into a single dataframe
df = pd.concat(dfs)

# Print the first five rows of the dataframe
df.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4999883C92EACCB0,classic_bike,2022-09-01 21:05:47,2022-09-01 21:08:07,Jersey & 3rd,JC074,Brunswick St,JC023,40.723332,-74.045953,40.724176,-74.050656,member
1,CC87E6815E075F6F,classic_bike,2022-09-10 18:09:26,2022-09-10 18:11:48,Jersey & 3rd,JC074,Brunswick St,JC023,40.723225,-74.045679,40.724176,-74.050656,member
2,B54E7FDDF4C251E6,classic_bike,2022-09-26 21:46:24,2022-09-26 21:56:06,Jersey & 3rd,JC074,Jersey & 3rd,JC074,40.723275,-74.045694,40.723332,-74.045953,member
3,A19A3DC77A98F6C2,classic_bike,2022-09-08 20:11:41,2022-09-08 22:01:29,Jersey & 3rd,JC074,Jersey & 3rd,JC074,40.723230,-74.045731,40.723332,-74.045953,member
4,3530E340A0B0E93F,classic_bike,2022-09-08 17:05:38,2022-09-08 17:10:26,Leonard Gordon Park,JC080,Riverview Park,JC057,40.745789,-74.057112,40.744319,-74.043991,member

In [5]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [7]:
# drop the rows with missing values
df.dropna(inplace=True)

In [8]:
# Use apply() with lambda function to extract date and time components
date_regex = r'^(\d{4}-\d{2}-\d{2}) (\d{2}:\d{2}:\d{2})$'

df[['started_at_date', 'started_at_time']] = df['started_at'].apply(lambda x: pd.Series(re.match(date_regex, x).groups()) if re.match(date_regex, x) else pd.Series([None, None]))
df[['ended_at_date', 'ended_at_time']] = df['ended_at'].apply(lambda x: pd.Series(re.match(date_regex, x).groups()) if re.match(date_regex, x) else pd.Series([None, None]))

df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,started_at_date,started_at_time,ended_at_date,ended_at_time
0,4999883C92EACCB0,classic_bike,2022-09-01 21:05:47,2022-09-01 21:08:07,Jersey & 3rd,JC074,Brunswick St,JC023,40.723332,-74.045953,40.724176,-74.050656,member,2022-09-01,21:05:47,2022-09-01,21:08:07
1,CC87E6815E075F6F,classic_bike,2022-09-10 18:09:26,2022-09-10 18:11:48,Jersey & 3rd,JC074,Brunswick St,JC023,40.723225,-74.045679,40.724176,-74.050656,member,2022-09-10,18:09:26,2022-09-10,18:11:48
2,B54E7FDDF4C251E6,classic_bike,2022-09-26 21:46:24,2022-09-26 21:56:06,Jersey & 3rd,JC074,Jersey & 3rd,JC074,40.723275,-74.045694,40.723332,-74.045953,member,2022-09-26,21:46:24,2022-09-26,21:56:06
3,A19A3DC77A98F6C2,classic_bike,2022-09-08 20:11:41,2022-09-08 22:01:29,Jersey & 3rd,JC074,Jersey & 3rd,JC074,40.723230,-74.045731,40.723332,-74.045953,member,2022-09-08,20:11:41,2022-09-08,22:01:29
4,3530E340A0B0E93F,classic_bike,2022-09-08 17:05:38,2022-09-08 17:10:26,Leonard Gordon Park,JC080,Riverview Park,JC057,40.745789,-74.057112,40.744319,-74.043991,member,2022-09-08,17:05:38,2022-09-08,17:10:26

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 639844 entries, 0 to 48584
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             639844 non-null  object
 1   rideable_type       639844 non-null  object
 2   started_at          639844 non-null  object
 3   ended_at            639844 non-null  object
 4   start_station_name  639844 non-null  object
 5   start_station_id    639844 non-null  object
 6   end_station_name    639844 non-null  object
 7   end_station_id      639844 non-null  object
 8   start_lat           639844 non-null  float64
 9   start_lng           639844 non-null  float64
 10  end_lat             639844 non-null  float64
 11  end_lng             639844 non-null  float64
 12  member_casual       639844 non-null  object
 13  started_at_date     639844 non-null  object
 14  started_at_time     639844 non-null  object
 15  ended_at_date       639844 non-null  object
 16  ended_at_time       639844 non-null  object
dtypes: float64(4), object(13)
memory usage: 87.9+ MB

In [13]:
# save the modified dataframe to a new CSV file
df.to_csv("citibike_data_clean.csv", index=False)